body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend", sans-serif, system-ui;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  width: 100vw;
}

.header {
  margin: 20px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: repeat(auto, 2);
  grid-template-columns: 2fr 1fr;
}

#search {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}

#search img {
  height: 30px;
}

#search input {
  width: 80%;
  height: 30px;
  border-radius: 18px;
  border: none;
  background-color: lightgrey;
}

#profile {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#profile > div {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#profile img {
  height: clamp(3rem, 24px, 32px);
  border-radius: 50%;
}

#profile p {
  font-weight: 600;
  font-size: 1.5em;
}

#action-btns {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  background-color: #318ce7;
  color: #f2f3f4;
  gap: 25px 0px;
  padding: 20px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 25px 0px;
}

.center {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  width: 100%;
  background-color: #e5e4e2;
  padding: 20px;
}

.center-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.project-grid > div {
  width: max(90%, 350px);
  background-color: #f8f8ff;
  padding: 15px;
  border: 1px solid #ccc;
  border-left: 8px solid goldenrod;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  border-radius: 50%;
  width: 75px;
}
